<form action='/home/comments' method='post'>
    <input type='hidden' value='{{ _id}}' name='_id'/>
    <feildset>
        <legend>Add A Comment</legend>
        <!-- TITLE -->


        <!-- DESCRIPTION -->
        <div class='form-group'>
            <label for='comment-content'>Description</label<br>
            <textarea class='form-control'
                id='comment-content'
                name='content'
                rows='10'
                placeholde='Your comment...'></textarea>

                
        </div>
    </feildset>

    <!-- BUTTON -->
    <div class='form-group'>
        <button class='btn-primary' type='submit'>Save Comment</button>
    </div>
</form>
