<form action='/home/comments' method='post'>
    <input type='hidden' value='{{ _id}}' name='_id'/>
    <feildset>
        <legend>The Void</legend>
        <!-- TITLE -->


        <!-- DESCRIPTION -->
        <div class='form-group'>
            <label for='comment-content'>Enter the Void</label<br>
            <textarea class='form-control'
                id='comment-content'
                name='content'
                rows='10'
                placeholde='Your comment...'></textarea>


        </div>
    </feildset>

    <!-- BUTTON -->
    <div class='form-group'>
        <button class='btn-primary' type='submit'>Scream into the void</button>

    </div>

</form>
