<!-- templates/home.html -->
{% extends 'base.html' %}


{% block body %}
<style>
        body{
            background-color:black;}
        h1{ border-style: inset;}
        h2{ border-style: solid;}
</style>

    <div class="jumbotron text-center">
        <h1 style="color:black;">Welcome To The Void</h1>

        <p class="lead">Please feel free to scream into the void</p><br>


        <!-- Comments -->
    {% include 'partials/comment_form.html' %}
    <hr>
    </div>

    <!-- Show Comments -->

    {% for each in comment %}

    <div class="lead text-center">
        <div class="container">
        <font color="white">


        <h2>
            {{ each.content }}
                <form method="POST" action="/home/{{each._id}}/delete">
                    <button class='btn btn-link' type='submit'>DESTROY</button>
                </form>
        </h2>


        </font>
        </div>
    </div>
    {% endfor %}


{% endblock %}
